@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;700&family=Open+Sans:wght@300&display=swap');

/* Color variables */
:root {
  --bg: #1f1c1f;
  --lime: #c7d04a;
  --blue: #5d88a8;
  --teal: #4dab81;
  --pink: #ff5f74;
  --red: #fe2b11;
  --peach: #fbcbbc;
  --yellow: #ffce48;
}

/* Global font */
body {
  font-family: 'Open Sans', sans-serif;
  color: var(--lime);
  background-color: var(--bg);
}

.title {
    text-align: center;
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 4rem;       /* big title */
  font-weight: 300;      /* bold */
  margin-bottom: 1rem;
  color: var(--peach);    
}

.subtitle {
    text-align: center;
    font-size: 1rem;     /* larger than normal */
    font-weight: 300;      /* light */
    color: var(--lime);
}